@import url('normalize.css');
@import url('demo.css');

@font-face {
  font-family: 'icon';
  src: url("font/icon.eot");
  src:
	url("font/icon.eot?#iefix") format('embedded-opentype'),
	url("font/icon.woff") format('woff'),
	url("font/icon.ttf") format('truetype'),
	url("font/icon.svg#icon") format('svg');
  font-weight: normal;
  font-style: normal;
}

.ps-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-transform: uppercase;
	color: #555;
	background: #fff;
}

.ps-container > .ps-slidewrapper {
	position: absolute;
	width: 35%;
}

.ps-container > .ps-contentwrapper, .ps-container > .ps-header {
	position: absolute;
	width: 65%;
}

.ps-container > div > div,
.ps-slidewrapper > nav,
.ps-slides > div {
	position: absolute;
}

.ps-header {
	top: 0px;
	left: 0px;
	height: 105px;
	z-index: 1001;
	background: #fff;
}

.ps-header h1 {
	color: #ccc;
	line-height: 150px;
	margin: 0;
	padding: 0 50px;
  font-weight: 200;
  font-size: 25px;
  letter-spacing: 15px;
}

.ps-contentwrapper {
	top: 110px;
	bottom: 0px;
	overflow: hidden;
	z-index: 1000;
}

.ps-content {
	background: #fff;
	width: 100%;
	height: 100%;
	padding: 50px;
  padding-top: 0px;
}

.ps-content h2 {
	padding: 10px 15px;
	border-right: 1px solid #f2f2f2;
	border-bottom: 0px solid #f2f2f2;
  letter-spacing: 6px;
  margin: 10px 0 0px;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
}

.ps-content .bordered {
	line-height: 26px;
	/*font-size: 16px;*/
	letter-spacing: 2px;
	word-spacing: 10px;
	padding: 10px 15px;
	font-weight: 400;
	text-align: left;
	border-left: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
}

.ps-content .ps-price {
	float: left;
	margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
	/*width: 140px;
	height: 140px;*/
	/*line-height: 140px;*/
	text-align: center;
	color: #fff;
	background: #f7cfc6;
	/*background: rgba(247,197,185,0.8);*/
	/*background: rgb(155, 100, 123);*/
	background: #eac67a;
	font-size: 15px;
	font-weight: 200;
}
.desc{
	margin-top: 10px;
  margin-bottom: 70px;
}
.ps-content a:last-child {
	font-size: 14px;
	font-weight: 700;
	color: #555;
	letter-spacing: 4px;
	float: right;
	border: 3px solid #555;
	padding: 3px;
	text-indent: 4px;
}

.no-touch .ps-content a:last-child:hover {
	color: #b2d79d;
	border-color: #b2d79d;
}

.ps-content a:last-child:before {
	content: '\53';
	font-family: 'icon';
	font-style: normal;
	font-weight: normal;
	speak: none;
	padding-right: 5px;
}

.ps-slidewrapper {
	right: 0px;
	top: 0px;
	height: 100%;
	overflow: hidden;
}

.ps-slides {
	top: 0px;
	bottom: 200px;
	width: 100%;
}

.ps-slides > div {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 9999px rgba(179,157,250,0.1);
}

.ps-slidewrapper > nav {
	width: 100%;
	height: 200px;
	bottom: 0px;
	right: 0px;
	z-index: 1000;
}

.ps-slidewrapper > nav > a {
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
	box-shadow: inset 0 0 0 9999px rgba(207,227,206,0.8);
	outline: none;
}

.ps-slidewrapper > nav > a:first-child {
	box-shadow: inset 0 0 0 9999px rgba(233,217,141,0.8);
}

.no-touch .ps-slidewrapper > nav > a {
	-webkit-transition: box-shadow 0.4s ease-in-out;
	-moz-transition: box-shadow 0.4s ease-in-out;
	-ms-transition: box-shadow 0.4s ease-in-out;
	-o-transition: box-shadow 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out;
}

.no-touch .ps-slidewrapper > nav > a:hover {
	box-shadow: inset 0 0 0 9999px rgba(246,224,121,0.1);
}

.no-touch .ps-slidewrapper > nav > a:first-child:hover {
	box-shadow: inset 0 0 0 9999px rgba(249,15,15,0.1);
}

.ps-slidewrapper > nav > a:after {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -50px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
}

.ps-slidewrapper > nav > a:first-child:after {
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin: -80px 0 0 -50px;
}

.ps-slides > div,
.ps-slidewrapper > nav > a {
	/*background-color: #fff;*/
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
}

.ps-move {
	-webkit-transition: top 400ms ease-out;
	-moz-transition: top 400ms ease-out;
	-o-transition: top 400ms ease-out;
	-ms-transition: top 400ms ease-out;
	transition: top 400ms ease-out;
}
.col.s12.m12.bordered {
    /*padding-top: 30px;*/
    /*padding-bottom: 30px;*/
}

.bg-one{
      background-color: #26596b;
}
.bg-two{
    background-color: #233237;

}
.bg-three{
  background-color: #985E6D;
}

.ps-content .title {
  padding: 5px 0;
  /* border-right: 2px solid #f2f2f2; */
  /* border-bottom: 1px solid #345f7a; */
  letter-spacing: 6px;
  margin: 2px 0 6px;
  text-align: left;
  font-weight: 300;
  display: block;
}
.divider {
    height: 4px;
    overflow: hidden;
    background-color: #e0e0e0;
    width: 50px;
    margin-top: 9px;
    margin-bottom: 3px;
    left: 0;
    position: relative;
}
.divider-about {
    height: 2px;
    overflow: hidden;
    background-color: #e0e0e0;
    width: 50px;
    margin-top: 9px;
    margin-bottom: 3px;
    left: 29%;
    margin-top: 5px;
    position: relative;
}
.divider-full{
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin: 13px 0 7px 0;
}
#packages {
    padding-top: 0rem;
    padding-bottom: 1rem;
}
/*==============================*/

.mouse-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mouse {
    position: relative;
    display: block;
    width: 20px;
    height: 30px;
    margin: 0 auto;
    border: solid 1px #fff;
    border-radius: 8px;
}
.mouse span.scroll-down {
    display: block;
    width: 4px;
    height: 4px;
    margin: 15% auto auto;
    -webkit-animation: scroll-inner 1.5s;
    animation: scroll-inner 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 50%;
    background: #fff;
}
.no-wrap{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
/*======================================*/
/*@media and screen (max-width:1024px) and (orientation: landscape){
  .desc {
    margin-top: 10px;
    margin-bottom: 0;
}
.col.s12.m12.bordered {
    padding-top: 10px;
    padding-bottom: 10px;
}
}*/
@media screen and (max-width: 860px) {


	.js .ps-container > div {
		width: 100%;
	}

	/*.js .ps-header {
		height: 50px;
	}*/
  .js .ps-header {
      height: 90px;
  }
	.js .ps-header h1 {
    line-height: 103px;
    padding: 0px 20px;
    letter-spacing: 15px;
    font-size: 32px;
	}

	/*.js .ps-slides {
		bottom: 320px;
		top: 50px;
	}*/
  .js .ps-slides {
    bottom: 795px;
    top: 90px;
  }
  .icon-pricing {
    font-size: 127px !important;
    padding: 10px !important;
}

	/*.js .ps-slidewrapper > nav {
		height: 100px;
	}*/
  .js .ps-slidewrapper > nav {
    height: 85px;
}

	/*.js .ps-contentwrapper {
		top: auto;
		height: 220px;
		bottom: 100px;
	}*/
  .js .ps-contentwrapper {
      top: auto;
      height: 735px;
      bottom: 60px;
  }
  .ps-slidewrapper > nav > a.ps-prev:after {
    width: 40px;
    height: 40px;
    top: 80%;
      left: 60%;

  }
  .ps-slidewrapper > nav > a.ps-next:after {
    width: 40px;
    height: 40px;
    top: 40%;
    left: 60%;
}
	.js .ps-content {
		padding: 10px;
	}

	.js .ps-content h2 {
		border-right: none;
		font-size: 35px;
		margin: 10px 0;
		padding-top: 0;
	}
  .ps-content .title {
      font-size: 30px;
  }
	.js .ps-content span.ps-price {
		font-size: 18px;
		/*width: 50px;
		height: 50px;*/
		line-height: 50px;
		font-weight: 700;
		margin-bottom: 0;
	}

	.js .ps-content p {
    line-height: 35px;
    border: none;
    padding: 5px 10px;
    height: 80px;
    overflow-y: scroll;
    /* border-right: 2px solid #f2f2f2; */
    /* border-bottom: 1px solid #345f7a; */
    font-size: 28px;
	}
  .ps-content .ps-price {
      float: left;
      margin-top: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      /* line-height: 140px; */
      text-align: center;
      color: #fff;
      background: #f7cfc6;
      /* background: rgba(247,197,185,0.8); */
      /* background: rgb(155, 100, 123); */
      background: #eac67a;
      font-size: 28px;
      font-weight: 200;
  }
  #about p {
    font-size: 40px;
}
	.js .ps-content a:last-child {
		font-size: 13px;
		margin: 10px 20px 0 0;
	}
}

@media screen and (max-width:768px){
  /*.mouse {
    position: relative;
    display: block;
    width: 40px;
    height: 60px;
    margin: 0 auto;
    border: solid 1px #fff;
    border-radius: 20px;
}
.mouse-container {
    height: 60px;
}*/
  /*.js .ps-slides {
    bottom: 680px;
    top: 62px;
  }*/
  .js .ps-slides {
    bottom: 740px;
        top: 35px;
  }
  /*.js .ps-contentwrapper {
    top: auto;
    height: 620px;
    bottom: 60px;
}*/
.js .ps-contentwrapper {
    top: auto;
    height: 685px;
    bottom: 60px;
}
.ps-slidewrapper > nav > a.ps-prev:after {
    width: 50px;
    height: 50px;
    top: 90%;
    left: 60%;
}
.ps-slidewrapper > nav > a.ps-next:after {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 60%;
}
.js .ps-content h2 {
    border-right: none;
    font-size: 35px;
    margin: 10px 0;
    padding-top: 0;
}
.js .ps-header {
    height: 80px;
}
/*.js .ps-header h1 {
    line-height: 80px;
    padding: 0px 20px;
    letter-spacing: 15px;
    font-size: 40px;
}*/
.js .ps-header h1 {
  line-height: 90px;
  padding: 0px 20px;
  letter-spacing: 15px;
  font-size: 33px;
}
.js .ps-content p {
    line-height: 25px;
    border: none;
    padding: 5px 10px;
    height: 80px;
    /* overflow-y: scroll; */
    font-size: 24px;
}
.divider {
    width: 55px;
    height: 2px;
}
.ps-content .title {
    font-size: 25px;
}
.ps-content .ps-price {
    font-size: 25px;
}
.ps-content .bordered {
    border-left: 2px solid #f2f2f2;
    border-top: 2px solid #f2f2f2;
}
.col.s12.m12.bordered {
    padding-top: 30px;
    padding-bottom: 30px;
}
}

@media screen and (max-width:768px){
  .js .ps-content p {
      font-size: 13px;
  }
  .js .ps-header h1 {
      line-height: 55px;
      font-size: 15px;
  }
.ps-content .title {
    font-size: inherit;
}
.col.s12.m12.bordered {
    padding-top: 10px;
    padding-bottom: 10px;
}
.js .ps-contentwrapper {
    top: auto;
    height: 450px;
    bottom: 61px;
}
.icon-pricing {
    font-size: 60px !important;
    padding: 10px !important;
}
.js .ps-slides {
    bottom: 420px;
    top: 23px;
}
.js .ps-content h2 {
    border-right: none;
    font-size: inherit;
    margin: 10px 0;
    padding-top: 0;
}
.ps-content .ps-price {
    font-size: inherit;
}
.desc {
    margin-top: 10px;
    margin-bottom: 25px;
}
.js .ps-header {
    height: 55px;
}
.js .ps-slides {
    bottom: 490px;
    top: 12px;
}
.js .ps-slidewrapper > nav {
    height: 65px;
}
.ps-slidewrapper > nav > a.ps-prev:after {
    width: 40px;
    height: 40px;
    top: 90%;
    left: 60%;
}
.ps-slidewrapper > nav > a.ps-prev:after {
    top: 115%;
}
.ps-slidewrapper > nav > a.ps-next:after {
    width: 40px;
    height: 40px;
    top: 50%;
    left: 60%;
}
.ps-slidewrapper > nav > a.ps-next:after {
    top: 60%;
}
.content-after-particles p{
      font-size: 22px;
}
}
@media (max-width:412px){
  .js .ps-contentwrapper {
    top: auto;
    height: 475px;
    bottom: 61px;
}
.js .ps-slides {
    bottom: 528px;
    top: 15px;
}
}

/*============================================*/
